.flex1{
    display:flex;
    flex-direction: column;
    flex:1;
    align-items:stretch;

}
.flex2{
    display:flex;
    flex-direction: row;
    flex:1;
    align-items: stretch;
}
.colorBox{
    display:flex;
    outline: 1px solid black;
    flex:1;
}